.Header {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 0px 2px #ececed;
}

.ProfileContainer {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.ProfileImageContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50px;
}

.ProfileImage {
  width: 50px;
  height: 50px;
}

.NavigationContainer {
  display: flex;
}

.headerItems {
  padding: 10px 20px;
  cursor: pointer;
}

.Link {
  text-decoration: none;
  color: black;
}
