.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
}

.MainArea {
  min-width: 450px;
  max-width: 1000px;
  flex: 1;
  /* border: 1px solid black; */
}
.ToggleButtonContainer {
  display: flex;
  gap: 10px;
  font-size: 22px;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}

.NewQuestionContainer,
.DoneContainer {
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #d5d5d6;
}

.QuestionTileArea {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
